# AWS
AWS_REGION="PUT NAME OF YOUR AWS REGION HERE"
AWS_CREDENTIALS_ACCESS_KEY="PUT YOUR AWS CREDENTIALS ACCESS KEY HERE"
AWS_CREDENTIALS_SECRET_KEY="PUT YOUR AWS CREDENTIALS SECRET KEY HERE"
AWS_SQS_QUEUE_URL="PUT YOUR AWS SQS QUEUE URL HERE"

# Next Auth
NEXTAUTH_SECRET="NEXT AUTH SECRET"
NEXTAUTH_URL="YOUR APP'S BASE URL"

# Github OAuth Credentials
GITHUB_CLIENT_ID="YOUR GITHUB CLIENT ID GOES HERE"
GITHUB_CLIENT_SECRET="YOUR GITHUB CLIENT SECRET GOES HERE"