# AWS
AWS_REGION="PUT NAME OF YOUR AWS REGION HERE"
AWS_CREDENTIALS_ACCESS_KEY="PUT YOUR AWS CREDENTIALS ACCESS KEY HERE"
AWS_CREDENTIALS_SECRET_KEY="PUT YOUR AWS CREDENTIALS SECRET KEY HERE"
AWS_SQS_QUEUE_URL="PUT YOUR AWS SQS QUEUE URL HERE"

# Cloudflare
CLOUDFLARE_ACCOUNT_ID="PUT YOUR CLOUDFLARE ACCOUNT ID HERE"
R2_BUCKET_NAME="PUT YOUR R2 BUCKET NAME HERE"
R2_ACCESS_ID="PUT YOUR R2 ACCESS ID HERE"
R2_SECRET_ACCESS_KEY="PUT YOUR R2 SECRET ACCESS KEY HERE"
EMAIL_WORKER_URL="PUT YOUR CLOUDFLARE WORKER URL HERE"

# Redis
REDIS_HOST_URL="PUT YOUR REDIS URL HERE"
REDIS_PORT="PUT YOUR REDIS URL HERE"
REDIS_PASSWORD="PUT YOUR REDIS URL HERE"